
@{
	ViewBag.Title = "GetOrderDetails";
}

<h2>GetOrderDetails</h2>

@foreach (var item in Model)
{
	<li>OrderID:@item.OrderID</li>
	<li>OrderID:@item.ProductID</li>
	<li>OrderID:@item.Product</li>
	<li>OrderID:@item.UnitPrice</li>

	<hr />


}

