@model IEnumerable<PartialViewEg.Models.Student>
	@using PartialViewEg.Models
@if(Model!=null)
{
	<div>
		<table class="table-striped">
			<thead>
				<tr>
					<th>Psno</th>
					<th>Name</th>
					<th>Location</th>
				</tr>
			</thead>
			<tbody>
				@foreach(var item in Model)
				{
				<tr>

					<td>@item.Psno</td>
					<td>@item.Name</td>
					<td>@item.Location</td>

				</tr>
						


			</tbody>
			

		</table>
	</div>
}
