@model IEnumerable<PrjCrudEF.Models.Order>
@{
    ViewBag.Title = "OrderCustomerInfo";
}

<h2>OrderCustomerInfo</h2>

@foreach(var item in Model)
{
	<ul typeof="none">
		<li>OrderId:@item.OrderID</li>
		<li>CustomerId:@item.CustomerID</li>
		<li>CompanyName:@item.Customer.CompanyName</li>
		<li>EmployeeId:@item.Employee.EmployeeID</li>
		<li>FirstName:@item.Employee.FirstName</li>
	</ul>
}

